<% if @current_user%>

  <h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new">New place</a>
</p>

<% else %>
  <h1>Please log in</h1> 
  <a href="/login">
    <button type="button" class="btn btn-primary">Login</button>
  </a>
  <br> </br>
  <div>
  <a href="/users/new">
    <button type="button" class="btn btn-primary">New User </button>
  </a>
  </div>
<% end %>